VITE_GOOGLE_CLIENT_ID=
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51T9VQeIXiprOvp7mKEYQhi6oVDM5AY4Jv5mct8pPovZkHIFNBN4EmNkfgOTvoVGtXMr0VcZUHkWCCumHczHkDras00JVCylqDG
VITE_API_URL=https://constructionbear-production.up.railway.app
